<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="fail_body">
        <h1>Failed, you have not selected any items!</h1>
        <form action="/" method="get"> 
            <input type="submit" id="Go_to_homepage_fail" class="submit" value="Back to Homepage">
        </form>
    </div>
</body>
</html>