<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{restarant}}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>
{{restaurant}}
    </h1>
    <div id="menu_items">
        {% for item in items %}
            <div class="menu-item" id="{{ item.id }}">
                <h2 class="{{ item_name }}">{{ item.name }}</h2>
                <h3 class="{{  item_price  }}">{{  item.price  }} EGP</h3>
                <button id="{{item.id}}_minus_button" class="minus_button" onclick=decrease({{item.id}})>-</button>
                <h1 class="selected_counter" id="{{item.id}}_selected_counter">0</h1>
                <button id="{{item.id}}_plus_button" class="plus_button" onclick=increase({{item.id}})>+</button>
            </div><br>
        {% endfor %}
        <script>
            
            // Increase the item counter.
            function increase(itemId) {

                // Gets the highest item id we used in the session storage
                if (sessionStorage.getItem("highestId") === null) {
                    sessionStorage.setItem("highestId", itemId);
                } else if (parseInt(sessionStorage.getItem("highestId")) < itemId) {
                    sessionStorage.setItem("highestId", itemId);
                }

                let selected_item_counter = document.getElementById(itemId + "_selected_counter");
                let value = parseInt(selected_item_counter.innerText);
                value++;
                selected_item_counter.innerText = value.toString();
                sessionStorage.setItem(itemId + "_selected_counter", value.toString());
            }
            // Decrease the item counter, if it's not zero.
            function decrease(itemId) {
                let selected_item_counter = document.getElementById(itemId + "_selected_counter");
                let value = parseInt(selected_item_counter.innerText);
                if (value > 0) {
                    value--;
                    selected_item_counter.innerText = value.toString();
                    if (value > 0) {
                        sessionStorage.setItem(itemId + "_selected_counter", value.toString());
                    }
                    else if (sessionStorage.getItem(itemId + "_selected_counter") != null) {
                        sessionStorage.removeItem(itemId + "_selected_counter");
                    }
                }
            }
            // The following code is written with the help of ChatGPT
            // It clears the selected items from the session storage when the user leaves the page
            window.addEventListener('beforeunload', function(event) {
                    for (let i = 0, n = parseInt(sessionStorage.getItem("highestId")); i <= n; i++) {
                        if (sessionStorage.getItem(i + "_selected_counter")) {
                            sessionStorage.removeItem(i + "_selected_counter");
                        }
                    }
            });
        </script>
    </div>
</body>
</html>